[submodule "wasm3"]
	path = third-party/wasm3
	url = https://github.com/bonifaido/wasm3.git
	branch = linux-kernel
[submodule "third-party/BearSSL"]
	path = third-party/BearSSL
	url = https://github.com/bonifaido/BearSSL.git
	branch = linux-kernel
[submodule "test/bats"]
	path = test/bats
	url = https://github.com/bats-core/bats-core.git
[submodule "test/test_helper/bats-support"]
	path = test/test_helper/bats-support
	url = https://github.com/bats-core/bats-support.git
[submodule "test/test_helper/bats-assert"]
	path = test/test_helper/bats-assert
	url = https://github.com/bats-core/bats-assert.git
