[submodule "wasm3"]
	path = third-party/wasm3
	url = https://github.com/bonifaido/wasm3.git
	branch = linux-kernel
[submodule "third-party/BearSSL"]
	path = third-party/BearSSL
	url = https://github.com/bonifaido/BearSSL.git
	branch = linux-kernel
[submodule "third-party/nghttp2"]
	path = third-party/nghttp2
	url = https://github.com/bonifaido/nghttp2.git
	branch = linux-kernel
