Source: nasp-kernel-module
Section: kernel
Priority: optional
Maintainer: Nandor Kracser <nandork@cisco.com>
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13),
Standards-Version: 4.6.2
Homepage: https://github.com/cisco-open/nasp-kernel-module
Vcs-Browser: https://github.com/cisco-open/nasp-kernel-module
Vcs-Git: https://github.com/cisco-open/nasp-kernel-module.git

Package: nasp-kernel-module
Architecture: all
Pre-Depends:
 ${misc:Depends},
 dkms
Description: Kernel module for the NASP project.
