Source: camblet-driver
Section: kernel
Priority: optional
Maintainer: Nandor Kracser <nandork@cisco.com>
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13),
Standards-Version: 4.6.2
Homepage: https://github.com/cisco-open/camblet-driver
Vcs-Browser: https://github.com/cisco-open/camblet-driver
Vcs-Git: https://github.com/cisco-open/camblet-driver.git

Package: camblet-driver
Architecture: all
Pre-Depends:
 ${misc:Depends},
 dkms
Description: Kernel module for the Camblet project.
