Package: nasp-kernel-module
Version: 1.0.0-1
Architecture: arm64
Maintainer: Nandor Kracser <nandork@cisco.com>
Installed-Size: 12
Depends: dkms
Section: Cisco NASP
Priority: optional
Homepage: https://github.com/cisco-open/nasp
Description: <insert up to 60 chars description>
 <Insert long description, indented with spaces.>
